<!-- navbar -->
<nav id="main" class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <div id="container" class="container-fluid">
    <button id="toggle " class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="productimage">ProductImage</a>
          </li>  
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="productname">ProductName</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="productprice">ProductPrice</a>
          </li>    
        </ul>
    </div>
  </div>
</nav>
<!-- <header>
  <nav class="navbar navbar-expand-md navbar-light  bg-light">
    <form class="form-inline justify-content-center" style="text-align: center;display: flex;padding-left: 300px;">
      <input class="form-control mr-sm-2"type="text" placeholder="Search" aria-label="Search">
      <button style="padding-left:150px;"
      class="btn btn-outline-success my-2 my-sm-0 float-right" type="submit"> <a routerLink="search">Search</a></button>
    </form>
  </nav>
</header> -->

<app-product-pipe></app-product-pipe>











<!-- <div class="table-responsive" >
  <table class="table">
    <thead class="thead-dark">
      <tr >
        <th  scope="col">
          <button class="btn btn-info" data-toggle="collapse" data-target="#books">
            <a routerLink="productimage">ProductImage</a>
          </button>  
        </th>
        <th scope="col">
          <button class="btn btn-info" data-toggle="collapse" data-target="#author" >
            <a routerLink="productname">ProductName</a>
          </button>
        </th>
        <th  scope="col">
          <button class="btn btn-info" data-toggle="collapse" data-target="#pages">
            <a routerLink="productprice">ProductPrice</a>
  
          </button>
        </th>
      </tr>
    </thead>
    <tbody>


    </tbody>
  </table>
  </div> -->